<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Twój Pierwszy Program</title>

    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/fontello.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet">

</head>
<body class="d-flex flex-column">

<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="container my-0">
    <div class="row w-100 mx-0 px-0 justify-content-center">
        <main class="col-md-8 my-4 mx-3 px-4 py-3 bg-light">
            <h2>Twój Pierwszy Program!</h2>
            <p>Jeżeli wykonałeś/aś prawidłowo wszystkie kroki z lekcji instalacji Javy oraz IDE to Twój pierwszy program jest tylko formalnością ;)</p>
            
            <p>Nie musisz jeszcze znać składni języka, skomplikowanych metod, algorytmów czy jak to wszystko działa. Ta wiedza przyjdzie z czasem - nie przejmuj
            się. Najważniejsze jest aby cierpliwie krok po kroku poznawać język we właściwej koljności tematycznej oraz nie zapomnieć cieszyć się tym co stworzyliśmy.</p>
            
            <p>Ok, dość gadania, zaczynajmy!</p>
            
            <div style="min-height: 4rem;"></div>
            
            <h4>Tworzenie projektu</h4>
            
            <p>W zależności kiedy przerabiasz tę lekcję wersja środowiska może być już inna. Nie przejmuj się tym gdyż to na pewno będą jedynie drobne zmiany wizualne lub odpwiedzialne za lepsze działanie programu. Wszystko na plus ;) Tak więc na pewno sobie poradzisz!</p>   
                  
            <p>Pierwszym krokiem do stworzenia programu jest utworzenie projektu w środowisku. Tak wiec tym się teraz zajmniemy.</p>
            <p>Otwieramy ItelliJ i naszym oczom ukazuje się coś takiego:</p>
            
            <img class="img-fluid mb-3" th:src="@{/images/first-program-img/1.png}" alt="Screenshot from IntelliJ">
            
            <p>Jest to główne okno w przypadku gdy środowiko zostało dopiero co zainstalowane i nie posiada jeszcze żadnych aktywnych porjektów. Jeśli widzisz inny obraz po otwarciu IDE i uruchomiło Ci się całe okno gotowe do pracy to nie przejmuj się wystarczy tylko w lewym górnym rogu kliknać <code>File -> Close Project</code>. Ta operacja powinna przenieść Cię do miejsca przedstawionego na powyższej ilustracji.</p>
            
            <p>Aby utworzyć nowy projekt klikamy <code>New Project</code> jak sugeruje nam creator.</p>
            
            <p>Następnie powinniśmy znaleść się w oknie z wyborem jaki dokładnie projekt chcemy utworzyć. Jest tu kilka opcji my natomiast wybieramy pierwszą opcję bez żadnych dodatków. Czyli klikamy <code>Java</code> a następnie <code>Next</code>.</p>
            
            <img class="img-fluid mb-3" th:src="@{/images/first-program-img/2.png}" alt="Screenshot from IntelliJ">
            
            <p>Potem pojawia się okono z polem do zaznaczenia o treści <i>Create project form template</i> jest to możliwość stworzenia projektu z szablonu. Pomijamy tę opcję klikając <code>Next</code>. My tworzymy własny porjekt ;)</p>
            
            <p>W tym miejscu w linii <code>Project name</code> ustalamy nazwę projektu - wpisujemy jak na zdjeciu <code>hello</code>. Natomiast <code>Project location</code> jak nazwa sugeruje jest to lokalizacja projektu w systemie. Pamiętajmy że jest to konkretny folder. Dodatkowo jak pewnie zauważyłeś/aś lokalizacja projektu wpisała się automatycznie w momencie wpisywania nazwy i folder/katalog ma dokładni taką samą nazwę co projekt. Można ustalić własną lokalizację po porstu ją wpisując my natomiast zostawimy domyślne ustawienie środowiska.</p>
            
            <p>Niżej mamy <code>More Settings</code> - więcej ustawień. Na chwilę obecną zostawiamy to bez zmian i klikamy <code>Finish</code>.</p>
            
            <img class="img-fluid mb-3" th:src="@{/images/first-program-img/3.png}" alt="Screenshot from IntelliJ">
            
            <div style="min-height: 2rem;"></div>
            
            <p><img class="img-fluid" th:src="@{/images/first-program-img/dir-not-ex.png}" alt="Screenshot from IntelliJ" style="float: right;">Po kliknięciu <code>Finish</code> MOŻE(lecz nie musi) pojawić się komunikat o braku żądanego folderu/katalogu w ścieżce, którą podaliśmy w <code>Project location</code>. To całkiem słuszna uwaga gdyż faktycznie może go nie być - jeśli nie został stworzony wcześniej. A wynikiem tego jest to że IntelliJ nie wiem w takim wypadku gdzie ma przechować nasz projekt. Stąd sugeruje nam utworzenie danego folderu/katalogu - klikamy <code>Create</code>.</p>
            
            <div style="min-height: 3rem;"></div>
            
            <h4>Mamy projekt - pora na Pierwszy Program!</h4>
            
            <p>Jeśli widzisz u siebie obraz jak niżej to gratuluję! Wykonałeś/aś już sporo pracy. Teraz wystarczy tylko stworzyć klasę i napisać w niej program.</p>
            
            <img class="img-fluid mb-3" th:src="@{/images/first-program-img/4.png}" alt="Screenshot from IntelliJ">
            
            <p>Jak widać, zostaliśmy przeniesieni do głównego okna naszego projektu. A z lewej strony powinniśmy mieć możliwość rozwijania drzewa naszego projektu.</p>
            
            <div style="min-height: 2rem;"></div>
            
            <h6>Czym jest wspomniana wyżej <code>KLASA</code>?</h5>
            
            <img class="img-fluid mb-3" th:src="@{/images/first-program-img/classroom.jpg}" alt="Classroom">
            
            <p>Nie, nie, nie taka klasa. Pojęcie <code>klasy</code> w językach obiektowych jest ich główną ideą. Jednka na ten moment to zbyt wcześnie aby wyjaśniać ten aspekt. <code>Klasa</code> zostnie dokładnie omówiona w sekcji OOP poświęconej porogramowaniu obiektowem. Aktualnie wystarczy nam wiedzieć że dążymy do stworzenia tzw. klasy uruchomieniowej, która ma zadanie uruchomić nasz program.</p>
            
            <p>Aby to zrobić rozwijamy drzewo projektu po lewej stronie. Widzimy tam niebieski katalog <code>src</code>. To właśnie w nim będą znajdować się wszystkie klasy, które będą potrzebne do działania programu.</p>
            
            <img class="img-fluid mb-3" th:src="@{/images/first-program-img/5.png}" alt="Screenshot from IntelliJ">
            
            <p style="margin-bottom: 4rem;"><img class="img-fluid" th:src="@{/images/first-program-img/6.png}" alt="Screenshot from IntelliJ" style="float: right;">Klikamy prawym przyciskiem myszy na katalogu <code>src</code> i wybieramy <code>New -> Java Class</code>. Po czym pojawia się okienko o nadaniu nazyw klasie. Nazwijmy naszą prostą klasę jakże kreatywnie "Hello" ;) i zatwierdzamy enterem.</p>
            
            <p>Po chwili ukazuje się nam pusta klasa <code>Hello</code>.</p>
            
            <img class="img-fluid mb-3" th:src="@{/images/first-program-img/7.png}" alt="Screenshot from IntelliJ">
            
            <p>Wewnątrz nawiasów klamrowych musimy teraz utworzyć funkcję <code>main()</code> a robimy to tak jak jest przedstawione na zdjęciu poniżej.</p>
            
            <img class="img-fluid mb-3" th:src="@{/images/first-program-img/8.png}" alt="Screenshot from IntelliJ">
            
            <p>Właściwie "funkcja" to błędne określenie. W Javie poprawnie powinniśmy nazwać ją "metodą" <code>main()</code>. Dlaczego tak? To wyjaśnię w innym artykule tak samo jak to co oznacza <code>public</code>, <code>static</code>, <code>void</code> czy <code>String[] args</code>.</p>
            
            <p>Tak więc metoda <code>main()</code> jest główną metodą w programie i bez niej program nie zadziała. Ogólne jej działanie polega na tym że wszystko co jest pomiędzy klamarami lini po linii zostanie wykonane od góry do dołu a na końcu program automatycznie się zamknie.</p>
            
            <p>Dodatkowo jak na pewno zauważyłeś/aś po lewej stronie są dwa zielone trójkąciki (dodatkowo możesz mieć jeszcze jeden na górnym pasku z narzędziami). Do bólu przypominają te ze starych magnetofonów, oznaczające nic innego jak "Play" - graj muzyko. Tutaj mamy analogie, poneważ te przyciski oznaczają uruchomienie porgramu i na pewno ich jeszcze dziś użyjemy. Ale zanim to zrobimy wypadałoby najpierw mieć co uruchomić. I teraz właśnie do tego przechodzimy.</p>
            
            <p>Program, który stworzymy będzie wyświetlał napis "Hello World" - co jest już swego rodzaju tradycją w świecie programowania. My oczywiście skorzystamy z tej tradycji aby pamiętać skąd pochodzimy ale dodamy coś od siebie, coś nowego i świeżeo bo czym byśmy byli bez rozwoju i ewolucji? Chęć rozwoju to wręcz naturalny proces.</p>
            
            <p>A więc, do tego będzie nam potrzebna metod <code>System.out.println()</code>, która wyświetli nam to co wpiszemy w jej nawiasach w konsoli. Co wpiszemy w nawiasach? To co jest na zdjęciu, proszę tylko pamiętaj o cudzysłowiu i na końcu koniecznie średnik <code>;</code> no i oczywiście wpisz własne imię! ;)</p>
            
            <img class="img-fluid mb-3" th:src="@{/images/first-program-img/9.png}" alt="Screenshot from IntelliJ">
            
            <p>Ok, jeśli to mamy to nie pozostaje nam nic innego jak tylko uruchomić prograć i sprawdzić czy działa. Aby to zrobić klikamy lewym przyciskiem myszy jeden z zielonych trójkątów(dowolny) i wybieramy <code>Run 'Hello.main()'</code></p>
            
            <p>Po chwili jeśli nie popełniliśmy żadnych błędów na dole w konsoli powinniśmy otrzymać wynik porgramu. Czyli napis, który umieściliśmy w nawiasach metody <code>println()</code>.</p>
            
            <img class="img-fluid mb-3" th:src="@{/images/first-program-img/10.png}" alt="Screenshot from IntelliJ">
            
            <p>Jeśli masz inny widok niż na powyższym zdjęciu. Sprawdz jeszcze raz kod. Być może popełniłeś gdzieś literówkę lub brakuje cudzysłowia czy średnika. Gdyby to nie pomogło przejrzyj całą lekcję jeszcze raz i sprawdz czy czegoś nie pominąłeś/aś.</p>
            
            <p>Tak więc gratuluję! Napisałeś swój pierwszy program w języku Java. Well done! ;)</p>
            
            <p>Progrma co prawda nie robi za wiele ale tak naprawdę osiągneliśmy coś ważniejszego w tej lekcji. A mianowicie przeszliśmy przez ogólny proces tworzenia programu i jego uruchomienia poparty ogólnym konceptualnym zrozumieniem. Co prawda nie wszystko jest jeszcze jasne ale to przyjdzie z czasem. A każdy program w uproszczenieu tak własnie wygląda. Nic skomplikowanego a dodatkowo sama przyjemność z procesu kreacji :) </p>
            
            <p>Cóż, mi pozostaje już tylko zaprosić Cię do kolejnych lekcji i życzyć powodzenia w dalszej nauce programowania.</p>
        </main>
        <div th:replace="~{fragments/entries :: entries}"></div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{https://code.jquery.com/jquery-3.5.1.slim.min.js}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>