<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>

	<aside class="col-md-3 my-4 mx-3 px-4 py-3 bg-light" th:fragment="entries">
            <div>
                <h3>Wpisy</h3>
                <ol>
                    <li>
                        <a class="pe-auto" href="#">JAVA - START.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Co to jest IDE? Kilka przykładów i instalacja.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Twój pierwszy program!</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Jak się nie zgubić w IntelliJ IDEA.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Bity i bajty.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Zmienne.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Operatory.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Łańcuchy znaków.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Instrukcje warunkowe.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Pętle.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Tablice.</a>
                    </li>
                </ol>
            </div>
	</aside>

</body>
</html>