<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>

	<aside class="col-lg-3 my-4 mx-3 px-4 py-3 bg-light rounded" th:fragment="entries">
            <div>
                <h3>Wpisy</h3>
                <ol>
                    <li>
                        <a th:href="@{/j-basics/first-program}">1. Twój pierwszy program!</a>
                    </li>
                    <li>
                        <a th:href="@{/j-basics/variables}">2. Zmienne</a>
                    </li>
                </ol>
            </div>
	</aside>

</body>
</html>