<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="footer mt-auto" th:fragment="footer">
    <div class="container-fluid bg-light py-0 foot">
        <div class="row justify-content-center">
        
            <div class="col-4 col-md-1 p-0 fb">
                <a th:href="@{https://www.facebook.com/kamil.kaczmarczyk.5059/}" class="d-flex w-100 h-100 align-items-center justify-content-center tlink">
                    <i class="icon-facebook-squared"></i>
                </a>
            </div>
            <div class="col-4 col-md-1 p-0 inst">
                <a th:href="@{https://www.instagram.com/teatro_camillo/?hl=en}" class="d-flex w-100 h-100 align-items-center justify-content-center tlink">
                    <i class="icon-instagram"></i>
                </a>
            </div>
            <div class="col-4 col-md-1 p-0 tw">
                <a th:href="@{https://twitter.com/teatro99609343}" class="d-flex w-100 h-100 align-items-center justify-content-center tlink">
                    <i class="icon-twitter"></i>
                </a>
            </div>
            <div class="col-4 col-md-1 p-0 gh">
                <a th:href="@{https://github.com/teatroCamillo}" class="d-flex w-100 h-100 align-items-center justify-content-center tlink">
                    <i class="icon-github"></i>
                </a>
            </div>
            <div class="col-4 col-md-1 p-0 gm">
                <a th:href="@{/about}" class="d-flex w-100 h-100 align-items-center justify-content-center tlink">
                    <i class="icon-gmail"></i>
                </a>
            </div>
            <div class="col-4 col-md-1 p-0 in">
                <a th:href="@{https://www.linkedin.com/in/kamil-kaczmarczyk-8111291b6/}" class="d-flex w-100 h-100 align-items-center justify-content-center tlink">
                    <i class="icon-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>