html, body{
    width: 100%;
    height: 100%;
    background-color: #1b1e21 !important;
    font-family: "Century Gothic" !important;
    color: black !important;
}

/*header #########################################################################################################*/

nav{
	min-height: 4rem !important;
}

h1, h2, h3, h4, h4, h5{
	font-weight: 600 !important;
}

li > a{
	color: black !important;
	transition: color .5s ease-in-out, background-color .5s ease-in-out;
}

li > a:hover{
	color: white !important;
	background-color: #1b1e21 !important;
}

p{
	text-align: justify !important;
}

/*Footer #########################################################################################################*/
.foot{
    min-height: 3rem;
}

.fb{
    min-height: 3rem;
}

.fb:hover{
    background-color: #4668b3;
}

.inst{
    min-height: 3rem;
}

.inst:hover{
    background-color: #ff2e62;
}

.tw{
    min-height: 3rem;
}

.tw:hover{
    background-color: #00acee;
}

.in{
    min-height: 3rem;
}

.in:hover{
    background-color: #0e76a8;
}

.gh{
    min-height: 3rem;
}
.gh:hover {
    background-color: #0004ff;
}

.gm{
    min-height: 3rem;
}

.gm:hover{
    background-color: #bb001b;
}

a.tlink{
    text-decoration: none;
    color: #555555!important;
}

a.tlink:hover{
    color: #1f1f1f!important;
}

