html, body{
    width: 100%;
    height: 100%;
    background-color: #1b1e21 !important;
    font-family: "Century Gothic";
}
/*Header #########################################################################################################*/
h1{
    letter-spacing: 3px;
    font-size: 3rem !important;
    color: white !important;
}

/*Footer #########################################################################################################*/
.foot{
    min-height: 3rem;
}

.fb{
    min-height: 3rem;
}

.fb:hover{
    background-color: #4668b3;
}

.inst{
    min-height: 3rem;
}

.inst:hover{
    background-color: #ff2e62;
}

.tw{
    min-height: 3rem;
}

.tw:hover{
    background-color: #00acee;
}

.in{
    min-height: 3rem;
}

.in:hover{
    background-color: #0e76a8;
}

.gh{
    min-height: 3rem;
}
.gh:hover {
    background-color: #0004ff;
}

.gm{
    min-height: 3rem;
}

.gm:hover{
    background-color: #bb001b;
}

a.tlink{
    text-decoration: none;
}

