<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Your Better Future</title>

    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/fontello.css" type="text/css">
<!--    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">-->

</head>
<body>
    <header>
        <h1>Your Better Future</h1>
    </header>
    <nav>
        <div class="nav">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">Programowanie</a></li>
                <li><a href="#">OS'y & network</a></li>
                <li><a href="#">Rozwój osobisty</a></li>
                <li><a href="#">Sport i dieta</a></li>
                <li><a href="#">Finanse</a></li>
                <li><a href="#">Fotografia</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">O autorze</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div style="width: 70%; margin: auto;">
            <p style="text-align: justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum augue non tortor tristique venenatis. Phasellus vitae malesuada orci. Aliquam eget placerat erat. Duis congue nibh non eros tempus, vitae rutrum magna malesuada. Duis condimentum, mauris blandit malesuada aliquet, neque tellus pretium nibh, sed consequat mauris magna a ligula. Fusce vestibulum nulla elit, pulvinar pulvinar nulla ultrices eget. Nulla egestas mauris non fermentum tempus. Sed condimentum ac arcu a luctus. Sed quis leo venenatis, vestibulum mi sed, dictum elit. Suspendisse ullamcorper rutrum ante sit amet luctus. Nulla nunc odio, pellentesque at metus vel, lobortis rhoncus elit. Vestibulum mollis pharetra lacus id sollicitudin.

                Mauris nec massa turpis. Ut molestie a ante a egestas. In vehicula bibendum justo id vestibulum. Maecenas sodales faucibus massa, placerat eleifend dui elementum at. In dui mauris, vestibulum nec ante a, porttitor semper justo. Quisque fringilla, ipsum a condimentum pharetra, urna leo mollis lorem, ac elementum est dui non ligula. In efficitur placerat magna, id convallis sapien molestie non.
                <br><br>
                Donec fringilla condimentum nulla, non ullamcorper libero dignissim ut. Donec non dui hendrerit, imperdiet ex ac, maximus nibh. Mauris ullamcorper nibh eget enim ultricies placerat. Phasellus eu nulla congue est congue convallis ultricies sed quam. Donec a dolor pulvinar, dapibus nisl sed, tincidunt sem. Ut congue pulvinar sapien sit amet rutrum. Cras dapibus, nisl eget vehicula aliquet, erat ante volutpat dui, in malesuada lorem diam ac eros. Nullam quam risus, condimentum eu posuere ac, luctus ornare lacus. Duis ligula nibh, porttitor in varius nec, ullamcorper quis ante. Integer metus ipsum, bibendum ac aliquet vel, euismod eu purus. Suspendisse consequat, urna quis ullamcorper pretium, tortor velit ornare felis, non pellentesque lorem nunc eu neque. Aenean eget felis malesuada, commodo magna nec, congue orci.

                Nunc at lorem sollicitudin, volutpat leo id, varius dolor. Aenean maximus purus non lacus suscipit, quis gravida tellus mollis. Quisque vulputate efficitur mollis. In commodo erat id eleifend egestas. Suspendisse convallis ut ipsum id sollicitudin. Nulla pharetra lacus ac lectus ullamcorper egestas. Fusce vehicula eros mi. Sed cursus, velit vel gravida consectetur, diam turpis auctor eros, tempor sagittis dolor mi feugiat arcu.

                In accumsan ante nulla, et pellentesque velit aliquet vitae. Ut maximus ligula eu porta mattis. Nunc pretium velit orci, eget eleifend erat posuere sed. Proin at sodales metus. Nullam ornare, dolor eu auctor consequat, urna augue tempor purus, sit amet sodales sem nisi non metus. Integer sit amet interdum turpis. Donec malesuada convallis neque. Nunc pulvinar odio a suscipit sodales. Curabitur non mi finibus, luctus mauris vitae, efficitur justo.
            </p>
        </div>
        <br><br>
        <div style="width: 70%; margin: auto;">
            <p style="text-align: justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum augue non tortor tristique venenatis. Phasellus vitae malesuada orci. Aliquam eget placerat erat. Duis congue nibh non eros tempus, vitae rutrum magna malesuada. Duis condimentum, mauris blandit malesuada aliquet, neque tellus pretium nibh, sed consequat mauris magna a ligula. Fusce vestibulum nulla elit, pulvinar pulvinar nulla ultrices eget. Nulla egestas mauris non fermentum tempus. Sed condimentum ac arcu a luctus. Sed quis leo venenatis, vestibulum mi sed, dictum elit. Suspendisse ullamcorper rutrum ante sit amet luctus. Nulla nunc odio, pellentesque at metus vel, lobortis rhoncus elit. Vestibulum mollis pharetra lacus id sollicitudin.

                Mauris nec massa turpis. Ut molestie a ante a egestas. In vehicula bibendum justo id vestibulum. Maecenas sodales faucibus massa, placerat eleifend dui elementum at. In dui mauris, vestibulum nec ante a, porttitor semper justo. Quisque fringilla, ipsum a condimentum pharetra, urna leo mollis lorem, ac elementum est dui non ligula. In efficitur placerat magna, id convallis sapien molestie non.
                <br><br>
                Donec fringilla condimentum nulla, non ullamcorper libero dignissim ut. Donec non dui hendrerit, imperdiet ex ac, maximus nibh. Mauris ullamcorper nibh eget enim ultricies placerat. Phasellus eu nulla congue est congue convallis ultricies sed quam. Donec a dolor pulvinar, dapibus nisl sed, tincidunt sem. Ut congue pulvinar sapien sit amet rutrum. Cras dapibus, nisl eget vehicula aliquet, erat ante volutpat dui, in malesuada lorem diam ac eros. Nullam quam risus, condimentum eu posuere ac, luctus ornare lacus. Duis ligula nibh, porttitor in varius nec, ullamcorper quis ante. Integer metus ipsum, bibendum ac aliquet vel, euismod eu purus. Suspendisse consequat, urna quis ullamcorper pretium, tortor velit ornare felis, non pellentesque lorem nunc eu neque. Aenean eget felis malesuada, commodo magna nec, congue orci.

                Nunc at lorem sollicitudin, volutpat leo id, varius dolor. Aenean maximus purus non lacus suscipit, quis gravida tellus mollis. Quisque vulputate efficitur mollis. In commodo erat id eleifend egestas. Suspendisse convallis ut ipsum id sollicitudin. Nulla pharetra lacus ac lectus ullamcorper egestas. Fusce vehicula eros mi. Sed cursus, velit vel gravida consectetur, diam turpis auctor eros, tempor sagittis dolor mi feugiat arcu.

                In accumsan ante nulla, et pellentesque velit aliquet vitae. Ut maximus ligula eu porta mattis. Nunc pretium velit orci, eget eleifend erat posuere sed. Proin at sodales metus. Nullam ornare, dolor eu auctor consequat, urna augue tempor purus, sit amet sodales sem nisi non metus. Integer sit amet interdum turpis. Donec malesuada convallis neque. Nunc pulvinar odio a suscipit sodales. Curabitur non mi finibus, luctus mauris vitae, efficitur justo.
            </p>
        </div>
        <br><br>
        <div style="width: 70%; margin: auto;">
            <p style="text-align: justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam condimentum augue non tortor tristique venenatis. Phasellus vitae malesuada orci. Aliquam eget placerat erat. Duis congue nibh non eros tempus, vitae rutrum magna malesuada. Duis condimentum, mauris blandit malesuada aliquet, neque tellus pretium nibh, sed consequat mauris magna a ligula. Fusce vestibulum nulla elit, pulvinar pulvinar nulla ultrices eget. Nulla egestas mauris non fermentum tempus. Sed condimentum ac arcu a luctus. Sed quis leo venenatis, vestibulum mi sed, dictum elit. Suspendisse ullamcorper rutrum ante sit amet luctus. Nulla nunc odio, pellentesque at metus vel, lobortis rhoncus elit. Vestibulum mollis pharetra lacus id sollicitudin.

                Mauris nec massa turpis. Ut molestie a ante a egestas. In vehicula bibendum justo id vestibulum. Maecenas sodales faucibus massa, placerat eleifend dui elementum at. In dui mauris, vestibulum nec ante a, porttitor semper justo. Quisque fringilla, ipsum a condimentum pharetra, urna leo mollis lorem, ac elementum est dui non ligula. In efficitur placerat magna, id convallis sapien molestie non.
                <br><br>
                Donec fringilla condimentum nulla, non ullamcorper libero dignissim ut. Donec non dui hendrerit, imperdiet ex ac, maximus nibh. Mauris ullamcorper nibh eget enim ultricies placerat. Phasellus eu nulla congue est congue convallis ultricies sed quam. Donec a dolor pulvinar, dapibus nisl sed, tincidunt sem. Ut congue pulvinar sapien sit amet rutrum. Cras dapibus, nisl eget vehicula aliquet, erat ante volutpat dui, in malesuada lorem diam ac eros. Nullam quam risus, condimentum eu posuere ac, luctus ornare lacus. Duis ligula nibh, porttitor in varius nec, ullamcorper quis ante. Integer metus ipsum, bibendum ac aliquet vel, euismod eu purus. Suspendisse consequat, urna quis ullamcorper pretium, tortor velit ornare felis, non pellentesque lorem nunc eu neque. Aenean eget felis malesuada, commodo magna nec, congue orci.

                Nunc at lorem sollicitudin, volutpat leo id, varius dolor. Aenean maximus purus non lacus suscipit, quis gravida tellus mollis. Quisque vulputate efficitur mollis. In commodo erat id eleifend egestas. Suspendisse convallis ut ipsum id sollicitudin. Nulla pharetra lacus ac lectus ullamcorper egestas. Fusce vehicula eros mi. Sed cursus, velit vel gravida consectetur, diam turpis auctor eros, tempor sagittis dolor mi feugiat arcu.

                In accumsan ante nulla, et pellentesque velit aliquet vitae. Ut maximus ligula eu porta mattis. Nunc pretium velit orci, eget eleifend erat posuere sed. Proin at sodales metus. Nullam ornare, dolor eu auctor consequat, urna augue tempor purus, sit amet sodales sem nisi non metus. Integer sit amet interdum turpis. Donec malesuada convallis neque. Nunc pulvinar odio a suscipit sodales. Curabitur non mi finibus, luctus mauris vitae, efficitur justo.
            </p>
        </div>
    </main>
    <footer>
        <div class="foot">
            <div class="socials">
                <div class="fb">
                    <a href="#" class="tlink"><i class="icon-facebook-rect"></i></a>
                </div>
                <div class="inst"></div>
                <div class="tw"></div>
                <div class="yt"></div>
                <div class="in"></div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
            var NavY = $('.nav').offset().top;
            var stickyNav = function (){
                var ScrollY = $(window).scrollTop();

                if(ScrollY > NavY){
                    $('.nav').addClass('sticky');
                }else {
                    $('.nav').removeClass('sticky');
                }
            };
            stickyNav();
            $(window).scroll(function (){
                stickyNav();
            });
        });
    </script>
</body>
</html>