<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Your Better Future</title>

    <link href="css/main.css" rel="stylesheet">
    <link href="css/fontello.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">

</head>
<body class="d-flex flex-column">
    <header>
        <h1 class="m-0 py-4 px-0 text-nowrap text-center">{ Let's code, pal! };</h1>
        <nav class="navbar navbar-light bg-light navbar-expand-md">
            <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#mainmenu"
                    aria-controls="mainmenu" aria-expanded="false" aria-label="Switch navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="mainmenu">
                <ul class="navbar-nav">
                    <li class="nav-item mx-3">
                        <a class="nav-link text-dark" href="#">HOME</a>
                    </li>
                    <li class="nav-item mx-3 dropdown">
                        <a class="nav-link text-dark dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                           id="submenu" aria-haspopup="true">Java</a>
                        <div class="dropdown-menu" aria-labelledby="submenu">
                            <a class="dropdown-item text-dark" href="#">Podstawy</a>
                            <a class="dropdown-item text-dark" href="#">OOP</a>
                        </div>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-dark" href="#">Spring</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-dark" href="#">Bootstrap</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-dark" href="#">HTML</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-dark" href="#">CSS</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-dark text-nowrap" href="#">O autorze</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container my-3 my-lg-auto">
        <div class="row w-100 mx-0 px-5 justify-content-center">
            <div class="col-md-10 px-5 py-3 bg-light text-dark">
                <h2 class="text-center my-3">Chcesz się nauczyć programowania?</h2>

                <p class="my-3 py-3 text-justify">Ale obszerna dokumentacja różnych technologii jest przytłaczająca, często zawiła, jeśli nie masz doświadczenia  i mało zachęcająca do nauki?
                </p>
                <p class="text-justify">
                    W takim razie zapraszam na moją stronę poświęconą nauce programowania w technologiach takich jak: Java, Spring, Bootstrap, HTML oraz CSS.
                    <br/><br/>
                    Wiedza przedstawiona na stronach tego bloga jest zaprezentowana w możliwie jak najprostszy i klarowny sposób oraz poparta przykładowymi liniami kodu. Tak, aby każdy mógł to dobrze zrozumieć i wykorzystać we własnych projektach.
                    <br/><br/>
                    Jeśli jesteś zdecydowany LET's CODE, PAL!
                </p>
            </div>
        </div>
    </main>
    <footer class="footer mt-auto">
        <div class="container-fluid bg-light py-0 foot">
            <div class="row justify-content-center">
                <div class="col-4 col-md-1 p-0 fb">
                    <a href="#" class="d-flex w-100 h-100 align-items-center justify-content-center text-dark tlink">
                        <i class="icon-facebook-squared"></i>
                    </a>
                </div>
                <div class="col-4 col-md-1 p-0 inst">
                    <a href="#" class="d-flex w-100 h-100 align-items-center justify-content-center text-dark tlink">
                        <i class="icon-instagram"></i>
                    </a>
                </div>
                <div class="col-4 col-md-1 p-0 tw">
                    <a href="#" class="d-flex w-100 h-100 align-items-center justify-content-center text-dark tlink">
                        <i class="icon-twitter"></i>
                    </a>
                </div>
                <div class="col-4 col-md-1 p-0 gh">
                    <a href="#" class="d-flex w-100 h-100 align-items-center justify-content-center text-dark tlink">
                        <i class="icon-github"></i>
                    </a>
                </div>
                <div class="col-4 col-md-1 p-0 gm">
                    <a href="#" class="d-flex w-100 h-100 align-items-center justify-content-center text-dark tlink">
                        <i class="icon-gmail"></i>
                    </a>
                </div>
                <div class="col-4 col-md-1 p-0 in">
                    <a href="#" class="d-flex w-100 h-100 align-items-center justify-content-center text-dark tlink">
                        <i class="icon-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>