<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Java - Podstawy</title>

    <link href="css/main.css" rel="stylesheet">
    <link href="css/j-basics.css" rel="stylesheet">
    <link href="css/fontello.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">

</head>
<body class="d-flex flex-column">
<header>
    <h1 class="m-0 py-4 px-0 text-nowrap text-center">{ So let's code! };</h1>
    <nav class="navbar navbar-light bg-light navbar-expand-md">
        <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#mainmenu"
                aria-controls="mainmenu" aria-expanded="false" aria-label="Switch navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="mainmenu">
            <ul class="navbar-nav">
                <li class="nav-item mx-3">
                    <a class="nav-link text-dark" href="/">HOME</a>
                </li>
                <li class="nav-item mx-3 dropdown">
                    <a class="nav-link text-dark dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                       id="submenu" aria-haspopup="true">Java</a>

                    <div class="dropdown-menu" aria-labelledby="submenu">
                        <a class="dropdown-item text-dark" href="/j-basics">Podstawy</a>
                        <a class="dropdown-item text-dark" href="#">OOP</a>
                    </div>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-dark" href="#">Spring</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-dark" href="#">Bootstrap</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-dark" href="#">HTML</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-dark" href="#">CSS</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link text-dark text-nowrap" href="#">O autorze</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container my-0">
    <div class="row w-100 mx-0 px-0 justify-content-center">

        <main class="col-md-8 my-4 mx-3 px-4 py-3 bg-light">
            <div>
                <h2 style="color: black !important;">Podstawy</h2>
                <p class="lh-sm" style="color: black !important;">
                    Zapraszam do pierwszej sekcji poświęconej językowi JAVA. Zajmiemy się tutaj absolutnymi podstawami tak, aby każdy mógł bez problemu rozpocząć swoją przygodę z programowaniem.
                </p>
                <p class="lh-sm" style="color: black !important;">
                    Omówimy tematy takie jak instalacja JAVA, jakie środowisko programistyczne wybrać, jak ogólnie działa język, poruszymy krótko tematykę bitów i bajtów, o co w ogóle z nimi chodzi oraz wiele innych niezbędnych podstawowych informacji.
                </p>
                <p class="lh-sm" style="color: black !important;">
                    Tak więc bez zbędnego przedłużania zaczynamy!
                </p>

                <ol style="color: black !important;">
                    <li>
                        <a class="pe-auto" href="#">JAVA - START.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Co to jest IDE? Kilka przykładów i instalacja.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Twój pierwszy program!</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Jak się nie zgubić w IntelliJ IDEA.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Bity i bajty.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Zmienne.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Operatory.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Łańcuchy znaków.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Instrukcje warunkowe.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Pętle.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Tablice.</a>
                    </li>
                </ol>
            </div>
        </main>

        <aside class="col-md-3 my-4 mx-3 px-4 py-3 bg-light">
            <div>
                <h2 style="color: black !important;">Wpisy</h2>
                <ol style="color: black !important;">
                    <li>
                        <a class="pe-auto" href="#">JAVA - START.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Co to jest IDE? Kilka przykładów i instalacja.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Twój pierwszy program!</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Jak się nie zgubić w IntelliJ IDEA.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Bity i bajty.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Zmienne.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Operatory.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Łańcuchy znaków.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Instrukcje warunkowe.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Pętle.</a>
                    </li>
                    <li>
                        <a class="pe-auto" href="#">Tablice.</a>
                    </li>
                </ol>
            </div>
        </aside>

    </div>
</div>

<footer class="footer mt-auto">
    <div class="container-fluid bg-light py-0 foot">
        <div class="row justify-content-center">
            <div class="col-4 col-md-1 p-0 fb">
                <a href="#" class="d-flex w-100 h-100 align-items-center justify-content-center text-dark tlink">
                    <i class="icon-facebook-squared"></i>
                </a>
            </div>
            <div class="col-4 col-md-1 p-0 inst">
                <a href="#" class="d-flex w-100 h-100 align-items-center justify-content-center text-dark tlink">
                    <i class="icon-instagram"></i>
                </a>
            </div>
            <div class="col-4 col-md-1 p-0 tw">
                <a href="#" class="d-flex w-100 h-100 align-items-center justify-content-center text-dark tlink">
                    <i class="icon-twitter"></i>
                </a>
            </div>
            <div class="col-4 col-md-1 p-0 gh">
                <a href="#" class="d-flex w-100 h-100 align-items-center justify-content-center text-dark tlink">
                    <i class="icon-github"></i>
                </a>
            </div>
            <div class="col-4 col-md-1 p-0 gm">
                <a href="#" class="d-flex w-100 h-100 align-items-center justify-content-center text-dark tlink">
                    <i class="icon-gmail"></i>
                </a>
            </div>
            <div class="col-4 col-md-1 p-0 in">
                <a href="#" class="d-flex w-100 h-100 align-items-center justify-content-center text-dark tlink">
                    <i class="icon-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>