<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Twój Pierwszy Program</title>

    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/fontello.css}" rel="stylesheet">

</head>
<body class="d-flex flex-column">

<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="container my-0">
    <div class="row w-100 mx-0 px-0 justify-content-center">
        <main class="col-lg-7 my-4 mx-3 px-4 py-3 bg-light rounded">
            <h2>Twój Pierwszy Program!</h2>
            <p>Jeżeli wykonałeś/aś prawidłowo wszystkie kroki z sekcji <a th:href="@{/installation}">Instalacja</a> to Twój pierwszy program jest tylko formalnością ;)</p>
            
            <p>Nie musisz jeszcze znać składni języka, skomplikowanych metod, algorytmów czy jak to wszystko działa. Ta wiedza przyjdzie z czasem - nie przejmuj
            się. Najważniejsze jest, aby cierpliwie krok po kroku poznawać język we właściwej kolejności tematycznej oraz nie zapomnij cieszyć się tym, co stworzysz.</p>
            
            <p>Ok, dość gadania, zaczynajmy!</p>
            <br/><br/>
            
            <h4>Tworzenie projektu</h4>
            <p>W zależności, kiedy przerabiasz tę lekcję wersja środowiska może być już inna. Nie przejmuj się tym gdyż to na pewno będą jedynie drobne zmiany wizualne lub odpowiedzialne za lepsze działanie programu. Wszystko na plus ;)</p>   
                  
            <p>Pierwszym krokiem do stworzenia programu jest utworzenie projektu w środowisku. Tak więc tym się teraz zajmiemy.</p>
            <p>Otwieramy ItelliJ i naszym oczom ukazuje się coś takiego:</p>
            
            <div class="d-flex justify-content-center">
            	<img class="img-fluid mx-0" th:src="@{/images/j-basics-img/first-program-img/new-pro.png}" alt="New Project">
            </div>
            <br/>
            
            
            <p>Jest to główne okno w przypadku gdy środowisko zostało dopiero co zainstalowane i nie posiada jeszcze żadnych aktywnych projektów. Jeśli widzisz inny obraz po otwarciu IDE i uruchomiło Ci się całe okno gotowe do pracy, to nie przejmuj się wystarczy tylko w lewym górnym rogu kliknać <code>File -> Close Project</code>. Ta operacja powinna przenieść Cię do miejsca przedstawionego na powyższej ilustracji.</p>
            
            <p>Aby utworzyć nowy projekt klikamy <code>New Project</code>, jak sugeruje nam kreator.</p>
            
            <p>Następnie powinniśmy znaleść się w oknie z wyborem jaki dokładnie projekt chcemy utworzyć. Jest tu kilka opcji, my natomiast wybieramy pierwszą opcję - <code>Java</code> - bez żadnych dodatków. Na górze kreatora mamy jeszcze coś takiego jak <strong>SDK - Software Development Kit</strong> - jest to nic innego jak inna nazwa na <strong>JDK</strong>. W tym też miejscu możemy wybrać wersję, w jakiej chcemy pisać program - my zostawiamy to bez zmian.</p>
             
            <p>Dodam jeszcze, że SDK jest bardziej ogólnym pojęciem, ponieważ może tyczyć się wielu innych technologii np. Python SDK czy DirectX SDK.</p>
            
            <p>Klikamy <code>Next</code>.</p>
            
            <div class="d-flex justify-content-center">
            	<img class="img-fluid mx-0" th:src="@{/images/j-basics-img/first-program-img/creator.png}" alt="Java SDK">
            </div>
            <br/>
            
            <p>Następnie pojawia się okno z polem do zaznaczenia o treści <strong>Create project form template</strong>, jest to możliwość stworzenia projektu z szablonu. Pomijamy tę opcję klikając <code>Next</code>. My tworzymy własny porojekt ;)</p>
            
            <p>W tym miejscu w linii <code>Project name</code> ustalamy nazwę projektu - wpisujemy jak na zdjęciu <code>hello</code>. Natomiast <code>Project location</code> jak nazwa sugeruje, jest to lokalizacja projektu w systemie. Pamiętajmy, że jest to konkretny folder. Dodatkowo jak pewnie zauważyłeś/aś lokalizacja projektu wpisała się automatycznie w momencie wpisywania nazwy i folder/katalog ma dokładnie taką samą nazwę co projekt. Można ustalić własną lokalizację, po prostu ją wpisując. My natomiast zostawimy domyślne ustawienie środowiska.</p>
            
            <p>Niżej mamy <code>More Settings</code> - więcej ustawień. Na chwilę obecną zostawiamy to bez zmian i klikamy <code>Finish</code>.</p>
            
            <div class="d-flex justify-content-center">
            	<img class="img-fluid mx-0" th:src="@{/images/j-basics-img/first-program-img/project-name.png}" alt="Project name">
            </div>
            <br/>
            
            
            <img class="img-fluid float-lg-right d-block mx-auto ml-md-3 " th:src="@{/images/j-basics-img/first-program-img/doesnot-ex.png}" alt="Create">
           
            <p><span class="text-nowrap">Po kliknięciu</span> <code>Finish</code> MOŻE (lecz nie musi) pojawić się komunikat o braku żądanego folderu/katalogu w ścieżce, którą podaliśmy w <code>Project location</code>. To całkiem słuszna uwaga, gdyż faktycznie może go nie być - jeśli nie został stworzony wcześniej. A wynikiem tego jest to, że IntelliJ nie wie w takim wypadku, gdzie ma przechować nasz projekt. Stąd sugeruje nam utworzenie danego folderu/katalogu - klikamy <code>Create</code>.</p>
            <br/><br/>
            
            <h4>Mamy projekt - pora na Pierwszy Program!</h4>
            <p>Jeśli widzisz u siebie obraz jak niżej, to znaczy, że prawidłowo stworzyłeś/aś projekt. Jest to główne okno naszego projektu. A z lewej strony powinniśmy mieć możliwość rozwijania drzewa naszego projektu. Teraz wystarczy tylko stworzyć klasę i napisać w niej program.</p>
            
            <div class="d-flex justify-content-center">
            	<img class="img-fluid mx-0" th:src="@{/images/j-basics-img/first-program-img/root.png}" alt="Project Tree">
            </div>
            <br/><br/>
            
            <h5>Czym jest wspomniana wyżej <code>KLASA</code>?</h5>
            
            <div class="d-flex justify-content-center">
            	<img class="img-fluid mx-0" th:src="@{/images/j-basics-img/first-program-img/classroom.jpg}" alt="Classroom">
            </div>
            <br/>
            
            <p>Nie, nie, nie taka klasa. Pojęcie <code>KLASY</code> w językach obiektowych jest ich główną ideą. Jednak na ten moment to zbyt wcześnie, aby dokładnie wyjaśniać ten aspekt. <code>Klasa</code> zostanie dokładnie omówiona w sekcji <strong>OOP - Object Oriented Programming</strong> poświęconej programowaniu obiektowemu. Aktualnie wystarczy nam wiedzieć, że dążymy do stworzenia tzw. klasy uruchomieniowej, która ma zadanie uruchomić nasz program.</p>
            
            <p>Aby to zrobić, rozwijamy drzewo projektu po lewej stronie. Widzimy tam niebieski katalog <code>src</code>. To właśnie w nim będą znajdować się wszystkie klasy niezbędne do działania programu.</p>
            
            <div class="d-flex justify-content-center">
            	<img class="img-fluid mx-0" th:src="@{/images/j-basics-img/first-program-img/src.png}" alt="Src">
            </div>
            <br/>
            
            <img class="img-fluid float-lg-right d-block mx-auto ml-lg-3" th:src="@{/images/j-basics-img/first-program-img/new-class-name.png}" alt="New Class Name">
            <p><span class="text-nowrap">Klikamy prawym</span> przyciskiem myszy na katalogu <code>src</code> i wybieramy <code>New -> Java Class</code>. Po czym pojawia się okienko o nadaniu nazwy klasie. Nazwijmy naszą prostą klasę jakże kreatywnie <strong>Hello</strong> i zatwierdzamy <code>Enter</code>.</p>
            <br/><br/><br/>
            
            <p>Po chwili ukazuje się nam pusta klasa <code>Hello</code> co potwierdza nam słówko <code>class</code>.</p>
            
            <div class="d-flex justify-content-center">
            	<img class="img-fluid mx-0" th:src="@{/images/j-basics-img/first-program-img/hello-class.png}" alt="Hello class">
            </div>
            <br/>
            
            <p>Wewnątrz nawiasów klamrowych musimy teraz utworzyć funkcję <code>main()</code>. A robimy to tak jak jest przedstawione na zdjęciu poniżej.</p>
            
            <div class="d-flex justify-content-center">
            	<img class="img-fluid mx-0" th:src="@{/images/j-basics-img/first-program-img/main.png}" alt="Main">
            </div>
            <br/>
            
            <p>Właściwie <strong>funkcja</strong> to błędne określenie. W Javie poprawnie powinniśmy nazwać tę instrukcję <strong>metodą</strong> <code>main()</code>. Dlaczego tak? To wyjaśnię w innym artykule, tak samo, jak to, co oznacza <code>public</code>, <code>static</code>, <code>void</code> czy <code>String[] args</code>.</p>
            
            <p>Tak więc metoda <code>main()</code> jest główną metodą w programie i bez niej program nie zadziała. Ogólne jej działanie polega na tym, że wszystko, co jest pomiędzy klamrami, linia po linii zostanie wykonane od góry do dołu, a na końcu program automatycznie się zamknie.</p>
            
            <p>Dodatkowo jak na pewno zauważyłeś/aś po lewej stronie są dwa zielone trójkąciki (dodatkowo możesz mieć jeszcze jeden na górnym pasku z narzędziami). Do bólu przypominają te ze starych magnetofonów, oznaczające nic innego jak <strong>Play</strong> - graj muzyko. Tutaj mamy analogie, ponieważ te przyciski oznaczają uruchomienie programu i na pewno ich jeszcze dziś użyjemy. Ale zanim to zrobimy, wypadałoby najpierw mieć co uruchomić. I teraz właśnie do tego przechodzimy.</p>
            
            <h5>Hello World</h5>
            <p>Program, który stworzymy będzie wyświetlał napis <strong>Hello World</strong> - co jest już swego rodzaju tradycją w świecie programowania. My oczywiście skorzystamy z tej tradycji, aby pamiętać skąd pochodzimy, ale dodamy coś od siebie, coś nowego i świeżego, bo czym byśmy byli bez rozwoju i ewolucji? Chęć rozwoju to wręcz naturalny proces.</p>
            
            <p>A więc, do tego będzie nam potrzebna metod <code>System.out.println()</code>, która wyświetli nam to, co wpiszemy w jej nawiasach w konsoli. Co wpiszemy w nawiasach? To, co jest na zdjęciu poniżej, pamiętaj tylko o cudzysłowie i na końcu koniecznie średnik <code>;</code> no i oczywiście wpisz własne imię! ;)</p>
            
            <div class="d-flex justify-content-center">
            	<img class="img-fluid mx-0" th:src="@{/images/j-basics-img/first-program-img/system-out.png}" alt="System.out">
            </div>
            <br/>
            
            <p>Ok, jeśli to mamy to nie pozostaje nam nic innego jak tylko uruchomić program i sprawdzić, czy działa. Aby to zrobić klikamy lewym przyciskiem myszy jeden z zielonych trójkątów (dowolny) i wybieramy <code>Run 'Hello.main()'</code>.</p>
            
            <p>Po chwili, jeśli nie popełniliśmy żadnych błędów, na dole w konsoli powinniśmy otrzymać wynik programu. Czyli napis, który umieściliśmy w nawiasach metody <code>println()</code>.</p>
            
            <div class="d-flex justify-content-center">
            	<img class="img-fluid mx-0" th:src="@{/images/j-basics-img/first-program-img/result.png}" alt="Run">
            </div>
            <br/>
            
            <p>Jeśli masz inny widok niż na powyższym zdjęciu. Sprawdź jeszcze raz kod. Być może popełniłeś/aś gdzieś literówkę lub brakuje cudzysłowu czy średnika. Gdyby to nie pomogło, przejrzyj całą lekcję jeszcze raz i sprawdź czy czegoś nie pominąłeś/aś.</p>
            
            <p>Tak więc gratuluję! Napisałeś swój pierwszy program w języku Java. Well done! ;)</p>
            
            <p>Program co prawda nie robi za wiele, ale tak naprawdę osiągnęliśmy coś ważniejszego w tej lekcji. A mianowicie przeszliśmy przez ogólny proces tworzenia programu i jego uruchomienia poparty ogólnym konceptualnym zrozumieniem. Co prawda nie wszystko jest jeszcze jasne, ale to przyjdzie z czasem. A każdy program w uproszczeniu tak właśnie wygląda. Nic skomplikowanego a dodatkowo sama przyjemność z procesu kreacji :) </p>
            
            <p>Cóż, mi pozostaje już tylko zaprosić Cię do kolejnych lekcji i życzyć powodzenia w dalszej nauce programowania.</p>
        </main>
        <div th:replace="~{fragments/entries :: entries}"></div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js}" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>